#logo {
    color: blue;
    font-size: 33px;
    margin: auto;
    max-width: max-content
}
#topText {
    color: blue;
    font-size: 36px;
    font-weight: '400';
    font-family: 'Arial';
}
#topTextBlack {
    font-size: 34px;
    font-family: 'Arial';
}
.dayText {
    font-size: 20px;
    font-family: 'Arial';
    font-weight: 'bold'
}
.tempText{
    font-size: 20px;
    color: gray;
    font-family: 'Times New Roman';
}
p {
    max-width: max-content;
    margin: auto;
}
#cityText{
    color: white;
    font-size: 20px;
}
.day:hover{
background-color: blanchedalmond;
transition-duration: 0.4s;
margin-left: 500px;
margin-right: 500px;
}
button{
background-color: blue;
color: white;
max-width: max-content;
transition-duration: 0.4s;
border-radius: 30px;
height: 50px;
width: 100px;
border: none;
text-align: 'center';
}
button:hover{
    background-color: white;
    color: blue;
    border: solid;
    border-color: blue;
}
